@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

body {
    background-color: #f5f6fa;
    font-family: 'Montserrat','Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    transition: color, background-color 1s ease;
    animation: fadeIn .7s ease;
}

h1 {
    font-size: 12rem;
    margin-bottom: 1rem;
    margin-top: 2.5cm;
    line-height: 11rem;
}

h2 {
    font-size: 2rem;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 20px;
    color: white;
}

.canvas {
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.controls .controls__colors {
    display: flex;
}

.controls__btns button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: .8rem;
}

.controls__btns button:active {
    transform: scale(0.98);
}

.controls {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls__btns {
    margin-bottom: 30px;
}

.controls__colors .controls__color {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    margin: 5px;
    cursor: pointer;
}

.controls .controls__range {
    margin-bottom: 10px;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s ease;
}

.popup-text {
    display: block;
    text-align: left !important;
    line-height: .4rem;
    user-select: none;
    transition: color 1s, opacity .2s ease;
    text-indent: 10px;
}

.selected {
    color: #3498db;
}

#github-button {
    color: rgb(128, 128, 128);
}

#close-settingsBtn {
    z-index: 3;
}

#maker {
    z-index: 3;
}

.leftBottom-button {
    text-align: right;
    position: fixed !important;
    bottom: 10px;
    right: 20px;
}

.button {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 1s, opacity .2s ease !important;
}

.button:hover {
    transition: color .1s linear !important;
    color: rgb(128, 128, 128);
}

.button:active {
    color: #3498db;
}

.dark {
    background-color: rgb(35, 35, 40) !important;
    color: #f5f6fa !important;
}

.light {
    background-color: #f5f6fa !important;
    color: #2f3640 !important;
}

.modal {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0.7);
}

.modal-content {
    position: absolute;
    background-color: #f5f6fa;
    color: #2f3640;
    padding: 20px;
    overflow: auto;
    max-height: 50%;
    border-radius: 20px;
    width: 52%;
    z-index: 2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transition: color, background-color 1s, opacity .2s ease;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(35, 35, 40);
        color: #f5f6fa;
        transition: color, background-color 1s ease;
    }
    .modal-content {
        background-color: rgb(35, 35, 40);
        color: #f5f6fa;
        transition: color, background-color 1s, opacity .2s ease;
    }
}